/* ********************************
MEDIA QUERIES FOR SMALL LAPTOP SCREENS
******************************** */

@media screen and (max-width: 1200px) {
  /* OUR TEAM SECTION STYLES */
  .card {
    width: 15rem;
    padding: 1.5rem 1rem;
  }

  .card blockquote {
    font-size: 0.5rem;
    line-height: 1.5;
    margin-bottom: 1rem;
  }

  /* STAY PRODUCTIVE SECTION STYLES */

  .stay-productive-text-box h2 {
    padding-right: 5rem;
  }
}

/* ********************************
MEDIA QUERIES FOR TABLET SCREENS
******************************** */
@media screen and (max-width: 996px) {
  /* HERO SECTION STYLES*/
  .hero-text-box {
    padding: 0 5rem;
  }

  /* OUR TEAM SECTION STYLES */
  .card {
    margin-right: -50rem;
    width: 12rem;
    padding: 1.5rem 0.5rem;
  }

  /* STAY PRODUCTIVE SECTION STYLES*/
  .stay-productive-text-box {
    padding: 0 1rem;
  }
  .stay-productive-text-box h2 {
    font-size: 2rem;
    padding-right: 0;
  }

  .stay-productive {
    grid-template-columns: 1fr;
  }

  .stay-productive-image-box {
    text-align: center;
  }
}

/* ********************************
MEDIA QUERIES FOR MOBILE SCREENS
******************************** */
@media screen and (max-width: 770px) {
  /* NAVIGATION STYLES */
  .check-btn {
    display: block;
    position: absolute;
    right: 2rem;
    top: 1rem;
  }

  .nav-logo {
    display: block;
    position: absolute;
    left: 2rem;
    top: 1rem;
  }

  header nav {
    flex-direction: column;
  }

  nav ul {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: var(--Dark-Blue-testimonials-background);
    transition: 0.4s;

    position: fixed;
    top: 4rem;
    /* top: 4rem; */
    left: 1000px;
    z-index: 99;
  }

  .my-check:checked ~ ul {
    left: 0;
  }

  nav li a {
    line-height: 3rem;
  }

  /* HERO SECTION STYLES*/
  .hero-text-box {
    padding: 0 2rem;
  }

  .hero-main-text {
    font-size: 1.2rem;
  }

  .hero-description-text {
    font-size: 0.8rem;
    padding: 0 3rem;
  }

  .btn {
    height: 3rem;
  }

  /* FEATURES SECTION STYLES */
  .features {
    grid-template-columns: 1fr;
    text-align: center;
    justify-content: center;
    padding: 0 3rem;
    line-height: 1.5;
  }

  .feature-text {
    font-size: 0.8rem;
  }

  /* STAY PRODUCTIVE SECTION STYLES */
  .stay-productive-image-box img {
    width: 85%;
  }
  .stay-productive-text-box h2 {
    font-size: 1.2rem;
  }

  .stay-productive-text-box p {
    font-size: 0.8rem;
  }

  .stay-productive-text-box a {
    font-size: 0.8rem;
  }

  /* OUR TEAM SECTION STYLES */
  .our-team {
    grid-template-columns: 1fr;
    padding-left: 3rem;
    gap: 2rem;
  }

  .card {
    width: 18rem;
    padding: 2rem 1.5rem;
    grid-auto-rows: auto;
  }

  .card blockquote {
    font-size: 0.7rem;
  }

  /* EARLY ACCESS SECTION STYLES */
  .early-access-card {
    width: 80%;

    position: absolute;
    left: 50%;
    bottom: 850px;
    transform: translate(-50%);
  }

  .early-access h2 {
    font-family: "Raleway", sans-serif;
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
  }

  .early-access input {
    margin: 0 auto 20px;
    width: 90%;
    font-size: 0.8rem;
    padding-left: 20px;
  }

  .early-access-btn {
    margin: auto;
    width: 90%;
  }

  /* FOOTER STYLES */
  footer {
    padding: 20rem 2rem 5rem;
  }

  .footer-container {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
}
